UI/Connected Services/MillCertificateSheetService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/COM.Dtos" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/COM.Dtos" minOccurs="0" name="registerRequestDto" nillable="true" type="q1:RegisterRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/COM.Dtos" minOccurs="0" name="AddResult" nillable="true" type="q2:MillSheetResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/COM.Dtos" minOccurs="0" name="registerRequestDtos" nillable="true" type="q3:ArrayOfRegisterRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/COM.Dtos" minOccurs="0" name="AddRangeResult" nillable="true" type="q4:ArrayOfMillSheetResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/COM.Dtos" minOccurs="0" name="modifyRequestDto" nillable="true" type="q5:ModifyRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/COM.Dtos" minOccurs="0" name="GetAllResult" nillable="true" type="q6:ArrayOfMillSheetResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByCreatedAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByCreatedAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/COM.Dtos" minOccurs="0" name="GetByCreatedAtResult" nillable="true" type="q7:ArrayOfMillSheetResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByCategoryAndKeyword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByCategoryAndKeywordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/COM.Dtos" minOccurs="0" name="GetByCategoryAndKeywordResult" nillable="true" type="q8:ArrayOfMillSheetResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>