UI/Connected Services/MillCertificateSheetService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MillCertificateSheetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/COM.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMillCertificateSheetService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_AddRange_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRange" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_AddRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_Modify_InputMessage">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_Modify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_GetByCreatedAt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByCreatedAt" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_GetByCreatedAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByCreatedAtResponse" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_GetByCategoryAndKeyword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByCategoryAndKeyword" />
  </wsdl:message>
  <wsdl:message name="IMillCertificateSheetService_GetByCategoryAndKeyword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByCategoryAndKeywordResponse" />
  </wsdl:message>
  <wsdl:portType name="IMillCertificateSheetService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMillCertificateSheetService/Add" message="tns:IMillCertificateSheetService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMillCertificateSheetService/AddResponse" message="tns:IMillCertificateSheetService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IMillCertificateSheetService/AddRange" message="tns:IMillCertificateSheetService_AddRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMillCertificateSheetService/AddRangeResponse" message="tns:IMillCertificateSheetService_AddRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input wsaw:Action="http://tempuri.org/IMillCertificateSheetService/Modify" message="tns:IMillCertificateSheetService_Modify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMillCertificateSheetService/ModifyResponse" message="tns:IMillCertificateSheetService_Modify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMillCertificateSheetService/DeleteById" message="tns:IMillCertificateSheetService_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMillCertificateSheetService/DeleteByIdResponse" message="tns:IMillCertificateSheetService_DeleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMillCertificateSheetService/GetAll" message="tns:IMillCertificateSheetService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMillCertificateSheetService/GetAllResponse" message="tns:IMillCertificateSheetService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByCreatedAt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMillCertificateSheetService/GetByCreatedAt" message="tns:IMillCertificateSheetService_GetByCreatedAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMillCertificateSheetService/GetByCreatedAtResponse" message="tns:IMillCertificateSheetService_GetByCreatedAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByCategoryAndKeyword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMillCertificateSheetService/GetByCategoryAndKeyword" message="tns:IMillCertificateSheetService_GetByCategoryAndKeyword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMillCertificateSheetService/GetByCategoryAndKeywordResponse" message="tns:IMillCertificateSheetService_GetByCategoryAndKeyword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMillCertificateSheetService" type="tns:IMillCertificateSheetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IMillCertificateSheetService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRange">
      <soap:operation soapAction="http://tempuri.org/IMillCertificateSheetService/AddRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://tempuri.org/IMillCertificateSheetService/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IMillCertificateSheetService/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IMillCertificateSheetService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCreatedAt">
      <soap:operation soapAction="http://tempuri.org/IMillCertificateSheetService/GetByCreatedAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCategoryAndKeyword">
      <soap:operation soapAction="http://tempuri.org/IMillCertificateSheetService/GetByCategoryAndKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MillCertificateSheetService">
    <wsdl:port name="BasicHttpBinding_IMillCertificateSheetService" binding="tns:BasicHttpBinding_IMillCertificateSheetService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SVC/MillCertificateSheetService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>